


  body {
  	background-color: rgba(108, 42, 77, 0.8);
  }

 #h1 {
 	text-align: center;
	color: black;
}

a {
	text-decoration: none;
	font-family: Arial;
	font-size: 1.5em;
	color: white;
	background-color: black;
	font-weight: 700;
	display: block;
	padding: 4px;
	border-radius: 8px;
	box-shadow: 0px 9px 0px rgba(219, 31, 5, 0), 0px, 9px, 25px, rgba(0, 0, 0, 1);
	margin: 10px auto;
	width: 160px;
	text-align: center;
	transition: all 0.1s ease;
}

a:active {
	box-shadow: 0px 3px 0px rgba(219, 31, 5, 0), 0px 3px 6px rgba(0, 0, 0, 0.9);
	position: relative;
	top: 6px;
}

.button {
	
}

.button:active {
	
}

#tag {
	color: black;
	text-align: center;
	padding-top: 50px;
}